/* styles.css */

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    padding: 20px; 
}

.container {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 600px; 
}

.header-image {
    width: 100%;
    max-width: 600px;
    height: auto; 
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 90%;
    max-width: 400px; 
    font-size: 1.2em;
    margin-bottom: 10px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff8310;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 400px; 
}

button:hover {
    background-color: #ff5e00;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    height: 50px; 
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    input,
    button {
        font-size: 1em; 
    }

    .header-image {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; 
    }

    input,
    button {
        padding: 8px;
    }

    .result {
        font-size: 1.2em; 
    }
}
